In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
names_of_files_B = ['Banknotes'+str(i)+'.jpg' for i in range(1,5)] #B means Banknotes
banknotes = pd.DataFrame({'file':names_of_files_B, 
                         'zloty_10':[1,0,1,1], 
                         'zloty_20':[2,1,1,1], 
                         'zloty_50':[1,1,1,1],
                         'zloty_100':[0,0,0,0], 
                         'zloty_200':[1,0,1,1],
                         'suma':[300,70,280,280]})

In [6]:
banknotes

             file  zloty_10  zloty_20  zloty_50  zloty_100  zloty_200  suma
0  Banknotes1.jpg         1         2         1          0          1   300
1  Banknotes2.jpg         0         1         1          0          0    70
2  Banknotes3.jpg         1         1         1          0          1   280
3  Banknotes4.jpg         1         1         1          0          1   280

In [7]:
names_of_files_C = ['Coins'+str(i)+'.jpg' for i in range(1,20)]
coins = pd.DataFrame({'file':names_of_files_C, 
                         'grosz_1': [1,2,0,0,1,0,0,0,1,0,1,1,1,1,1,0,0,1,0],
                         'grosz_2': [2,1,1,0,1,0,0,1,0,0,0,1,0,1,1,0,0,1,0],
                         'grosz_5': [0,0,1,0,0,1,1,1,0,0,0,1,1,1,1,0,0,1,0],
                         'grosz_10':[1,3,0,0,0,0,0,0,1,0,1,1,0,1,1,1,0,1,0], 
                         'grosz_20':[1,0,1,1,0,0,0,1,1,0,0,0,0,1,1,1,0,1,0], 
                         'grosz_50':[1,2,0,1,1,1,2,2,3,0,0,0,1,1,1,1,0,1,0],
                         'zloty_1': [2,1,2,1,1,0,3,1,4,1,1,0,1,1,1,1,1,1,1], 
                         'zloty_2': [1,1,0,1,1,1,1,1,2,1,1,0,1,1,1,1,1,1,1],
                         'zloty_5': [1,1,0,1,0,0,1,1,1,1,1,0,1,1,1,1,1,1,1],
                         'suma':[9.85,9.34,2.27,8.7,3.53,2.55,11.05,9.27,14.81,8,8.11,0.18,8.56,8.88,8.88,8.80,8,8.88,8]})
coins

,file,grosz_1,grosz_2,grosz_5,grosz_10,grosz_20,grosz_50,zloty_1,zloty_2,zloty_5,suma
0,Coins1.jpg,1,2,0,1,1,1,2,1,1,9.85
1,Coins2.jpg,2,1,0,3,0,2,1,1,1,9.34
2,Coins3.jpg,0,1,1,0,1,0,2,0,0,2.27
3,Coins4.jpg,0,0,0,0,1,1,1,1,1,8.70
4,Coins5.jpg,1,1,0,0,0,1,1,1,0,3.53
5,Coins6.jpg,0,0,1,0,0,1,0,1,0,2.55
6,Coins7.jpg,0,0,1,0,0,2,3,1,1,11.05
7,Coins8.jpg,0,1,1,0,1,2,1,1,1,9.27
8,Coins9.jpg,1,0,0,1,1,3,4,2,1,14.81
9,Coins10.jpg,0,0,0,0,0,0,1,1,1,8.00
10,Coins11.jpg,1,0,0,1,0,0,1,1,1,8.11
11,Coins12.jpg,1,1,1,1,0,0,0,0,0,0.18
12,Coins13.jpg,1,0,1,0,0,1,1,1,1,8.56
13,Coins14.jpg,1,1,1,1,1,1,1,1,1,8.88
14,Coins15.jpg,1,1,1,1,1,1,1,1,1,8.88
15,Coins16.jpg,0,0,0,1,1,1,1,1,1,8.80
16,Coins17.jpg,0,0,0,0,0,0,1,1,1,8.00
17,Coins18.jpg,1,1,1,1,1,1,1,1,1,8.88
18,Coins19.jpg,0,0,0,0,0,0,1,1,1,8.00

In [15]:
names_of_files_BC = ['BC'+str(i)+'.jpg' for i in range(1,26)]
b_and_c = pd.DataFrame({'file':names_of_files_BC, 
                         'grosz_1':   [1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0],
                         'grosz_2':   [2,1,0,1,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,2,2,0],
                         'grosz_5':   [1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0],
                         'grosz_10':  [1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0], 
                         'grosz_20':  [1,1,1,1,1,1,0,0,0,0,0,2,0,0,0,0,1,0,0,0,0,1,1,0,0], 
                         'grosz_50':  [0,0,0,0,1,1,0,1,0,2,1,2,0,0,0,0,0,1,1,0,1,0,2,2,0],
                         'zloty_1':   [2,1,1,1,1,1,1,1,1,1,0,0,0,1,0,1,0,0,0,1,1,0,0,0,1], 
                         'zloty_2':   [1,1,0,0,0,0,1,1,1,1,0,0,1,1,1,0,1,0,0,1,1,1,0,0,0],
                         'zloty_5':   [1,1,1,0,0,0,1,0,1,1,0,1,1,1,1,0,0,1,1,1,0,0,0,2,0],
                         'zloty_10':  [0,1,0,0,1,1,1,1,1,1,1,0,0,1,0,1,0,0,0,1,1,1,1,1,0],
                         'zloty_20':  [1,1,0,1,0,0,0,0,1,1,1,1,1,0,0,0,1,0,1,1,0,1,1,0,0],
                         'zloty_50':  [0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,1,0,1,1,1,1],
                         'zloty_100': [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                         'zloty_200': [0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0],
                         'suma':[29.40,38.33,56.2,221.23, 11.72,11.72,18,213.5,88,39.07,30.5,226.4,27,18,207,11.01,222.22,55.55,75.5,288,13.5,82.21,81.5,271.04,52]})
b_and_c

,file,grosz_1,grosz_2,grosz_5,grosz_10,grosz_20,grosz_50,zloty_1,zloty_2,zloty_5,zloty_10,zloty_20,zloty_50,zloty_100,zloty_200,suma
0,BC1.jpg,1,2,1,1,1,0,2,1,1,0,1,0,0,0,29.40
1,BC2.jpg,1,1,0,1,1,0,1,1,1,1,1,0,0,0,38.33
2,BC3.jpg,0,0,0,0,1,0,1,0,1,0,0,1,0,0,56.20
3,BC4.jpg,1,1,0,0,1,0,1,0,0,0,1,0,0,1,221.23
4,BC5.jpg,0,1,0,0,1,1,1,0,0,1,0,0,0,0,11.72
5,BC6.jpg,0,1,0,0,1,1,1,0,0,1,0,0,0,0,11.72
6,BC7.jpg,0,0,0,0,0,0,1,1,1,1,0,0,0,0,18.00
7,BC8.jpg,0,0,0,0,0,1,1,1,0,1,0,0,0,1,213.50
8,BC9.jpg,0,0,0,0,0,0,1,1,1,1,1,1,0,0,88.00
9,BC10.jpg,0,1,1,0,0,2,1,1,1,1,1,0,0,0,39.07
10,BC11.jpg,0,0,0,0,0,1,0,0,0,1,1,0,0,0,30.50
11,BC12.jpg,0,0,0,1,2,2,0,0,1,0,1,0,0,1,226.40
12,BC13.jpg,0,0,0,0,0,0,0,1,1,0,1,0,0,0,27.00
13,BC14.jpg,0,0,0,0,0,0,1,1,1,1,0,0,0,0,18.00
14,BC15.jpg,0,0,0,0,0,0,0,1,1,0,0,0,0,1,207.00
15,BC16.jpg,1,0,0,0,0,0,1,0,0,1,0,0,0,0,11.01
16,BC17.jpg,0,1,0,0,1,0,0,1,0,0,1,0,0,1,222.22
17,BC18.jpg,0,0,1,0,0,1,0,0,1,0,0,1,0,0,55.55
18,BC19.jpg,0,0,0,0,0,1,0,0,1,0,1,1,0,0,75.50
19,BC20.jpg,0,0,0,0,0,0,1,1,1,1,1,1,0,1,288.00
20,BC21.jpg,0,0,0,0,0,1,1,1,0,1,0,0,0,0,13.50
21,BC22.jpg,1,0,0,0,1,0,0,1,0,1,1,1,0,0,82.21
22,BC23.jpg,1,2,1,2,1,2,0,0,0,1,1,1,0,0,81.50
23,BC24.jpg,0,2,0,0,0,2,0,0,2,1,0,1,0,1,271.04
24,BC25.jpg,0,0,0,0,0,0,1,0,0,0,0,1,0,0,52.00

In [16]:
names_of_files_slanted = ['Slanted'+str(i)+'.jpg' for i in range(1,30)]
slanted = pd.DataFrame({'file':names_of_files_slanted, 
                         'grosz_1':   [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1],
                         'grosz_2':   [0,0,1,0,1,0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,1,0,0,2,0,2,2,1],
                         'grosz_5':   [0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1],
                         'grosz_10':  [0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,1,1,1,0,0,1,0,0,1,3,1,1,0], 
                         'grosz_20':  [0,0,1,0,0,0,0,0,0,0,1,0,1,2,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0], 
                         'grosz_50':  [1,0,1,0,0,0,0,0,2,2,0,1,0,2,0,2,0,1,0,0,0,1,0,0,0,2,2,2,0],
                         'zloty_1':   [2,0,2,1,0,1,0,1,1,1,0,0,0,0,0,1,1,0,1,0,0,1,1,1,1,1,1,1,0], 
                         'zloty_2':   [2,0,0,0,0,1,1,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1,1,2,0,1,1,0],
                         'zloty_5':   [0,0,0,0,0,1,1,1,1,0,0,1,1,1,0,1,1,0,1,0,0,1,0,1,1,1,1,1,0],
                         'zloty_10':  [1,1,1,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,1,0,0,0,1,1,0],
                         'zloty_20':  [1,2,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,2,1,0,1,0,0,0,1,0,0],
                         'zloty_50':  [0,1,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,1,0],
                         'zloty_100': [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                         'zloty_200': [1,1,1,0,1,0,1,0,0,0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0],
                         'suma':[236.5,300,262.87,11,200.02,18,257,8,9.02,14.07,20.57,25.5,225.2,226.5,280,9.35,6.18,0.8,6.18,100,280,8.88,33,8,10.34,7.3,89.14,69.14,0.08]})
slanted

,file,grosz_1,grosz_2,grosz_5,grosz_10,grosz_20,grosz_50,zloty_1,zloty_2,zloty_5,zloty_10,zloty_20,zloty_50,zloty_100,zloty_200,suma
0,Slanted1.jpg,0,0,0,0,0,1,2,2,0,1,1,0,0,1,236.50
1,Slanted2.jpg,0,0,0,0,0,0,0,0,0,1,2,1,0,1,300.00
2,Slanted3.jpg,0,1,1,1,1,1,2,0,0,1,0,1,0,1,262.87
3,Slanted4.jpg,0,0,0,0,0,0,1,0,0,1,0,0,0,0,11.00
4,Slanted5.jpg,0,1,0,0,0,0,0,0,0,0,0,0,0,1,200.02
5,Slanted6.jpg,0,0,0,0,0,0,1,1,1,1,0,0,0,0,18.00
6,Slanted7.jpg,0,0,0,0,0,0,0,1,1,0,0,1,0,1,257.00
7,Slanted8.jpg,0,0,0,0,0,0,1,1,1,0,0,0,0,0,8.00
8,Slanted9.jpg,0,1,0,0,0,2,1,1,1,0,0,0,0,0,9.02
9,Slanted10.jpg,0,1,1,0,0,2,1,1,0,1,0,0,0,0,14.07
10,Slanted11.jpg,0,1,1,0,1,0,0,0,0,0,1,0,0,0,20.57
11,Slanted12.jpg,0,0,0,0,0,1,0,0,1,0,1,0,0,0,25.50
12,Slanted13.jpg,0,0,0,0,1,0,0,0,1,0,1,0,0,1,225.20
13,Slanted14.jpg,0,0,0,1,2,2,0,0,1,0,1,0,0,1,226.50
14,Slanted15.jpg,0,0,0,0,0,0,0,0,0,1,1,1,0,1,280.00
15,Slanted16.jpg,0,0,1,1,1,2,1,1,1,0,0,0,0,0,9.35
16,Slanted17.jpg,1,1,1,1,0,0,1,0,1,0,0,0,0,0,6.18
17,Slanted18.jpg,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0.80
18,Slanted19.jpg,1,1,1,1,0,0,1,0,1,0,0,0,0,0,6.18
19,Slanted20.jpg,0,0,0,0,0,0,0,0,0,1,2,1,0,0,100.00
20,Slanted21.jpg,0,0,0,0,0,0,0,0,0,1,1,1,0,1,280.00
21,Slanted22.jpg,1,1,1,1,1,1,1,1,1,0,0,0,0,0,8.88
22,Slanted23.jpg,0,0,0,0,0,0,1,1,0,1,1,0,0,0,33.00
23,Slanted24.jpg,0,0,0,0,0,0,1,1,1,0,0,0,0,0,8.00
24,Slanted25.jpg,0,2,0,1,1,0,1,2,1,0,0,0,0,0,10.34
25,Slanted26.jpg,0,0,0,3,0,2,1,0,1,0,0,0,0,0,7.30
26,Slanted27.jpg,0,2,0,1,0,2,1,1,1,1,1,1,0,0,89.14
27,Slanted28.jpg,0,2,0,1,0,2,1,1,1,1,0,1,0,0,69.14
28,Slanted29.jpg,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0.08

In [17]:
banknotes[banknotes.zloty_10*10+banknotes.zloty_20*20+banknotes.zloty_50*50+banknotes.zloty_100*100+banknotes.zloty_200*200==banknotes.suma]

             file  zloty_10  zloty_20  zloty_50  zloty_100  zloty_200  suma
0  Banknotes1.jpg         1         2         1          0          1   300
1  Banknotes2.jpg         0         1         1          0          0    70
2  Banknotes3.jpg         1         1         1          0          1   280
3  Banknotes4.jpg         1         1         1          0          1   280

In [22]:
coins[coins.grosz_1*0.01+coins.grosz_2*0.02+coins.grosz_5*0.05+coins.grosz_10*0.1+coins.grosz_20*0.2+coins.grosz_50*0.5+coins.zloty_1*1+coins.zloty_2*2+coins.zloty_5*5==coins.suma]

,file,grosz_1,grosz_2,grosz_5,grosz_10,grosz_20,grosz_50,zloty_1,zloty_2,zloty_5,suma
0,Coins1.jpg,1,2,0,1,1,1,2,1,1,9.85
1,Coins2.jpg,2,1,0,3,0,2,1,1,1,9.34
2,Coins3.jpg,0,1,1,0,1,0,2,0,0,2.27
3,Coins4.jpg,0,0,0,0,1,1,1,1,1,8.70
5,Coins6.jpg,0,0,1,0,0,1,0,1,0,2.55
6,Coins7.jpg,0,0,1,0,0,2,3,1,1,11.05
7,Coins8.jpg,0,1,1,0,1,2,1,1,1,9.27
8,Coins9.jpg,1,0,0,1,1,3,4,2,1,14.81
9,Coins10.jpg,0,0,0,0,0,0,1,1,1,8.00
10,Coins11.jpg,1,0,0,1,0,0,1,1,1,8.11
11,Coins12.jpg,1,1,1,1,0,0,0,0,0,0.18
12,Coins13.jpg,1,0,1,0,0,1,1,1,1,8.56
15,Coins16.jpg,0,0,0,1,1,1,1,1,1,8.80
16,Coins17.jpg,0,0,0,0,0,0,1,1,1,8.00
18,Coins19.jpg,0,0,0,0,0,0,1,1,1,8.00